<!DOCTYPE html>
<html lang="en">
{{template "partials/header"}}

<body>
  {{template "partials/menu"}}

  <ul>
    <li>Username: {{.Username}}</li>
    <li>UserID: {{.UserId}}</li>
    <li>MemberSince: {{.MemberSince}}</li>
    <li>AwardCount : {{.AwardCount}}</li>
    <li>FollowerCount: {{.FollowerCount}}</li>
    <li>SubscriberCount: {{.SubscriberCount}}</li>
    <li>IndicatorCount: {{.IndicatorCount}}</li>
    <li>PulseCount: {{.PulseCount}}</li>
  </ul>

  {{template "partials/footer"}}
</body>

</html>
